.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.accepted {
  font-size: 2rem;
  font-weight: bold;
}

.delivered {
  padding: 20px;
  border: 2px solid teal;
  margin: 50px;
}


.paragraph {
  margin: 20px;
  font-size: 1.8rem;
}

.link {
  color: white;
  background-color: teal;
  padding: 20px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}
