.wrapper {
  /* display: grid;
  grid-template-columns: 5fr, 10fr; */
  /* grid-auto-rows: minmax(10px, auto); */
  display: flex;
  justify-content: space-between;
  align-items: center;;
  font-size: 1.3rem;
  margin: 10px 30px;
}

.title {

}

.price {
  font-weight: bold;
  
}
